<div class="left-reviews">
    <h3 data-bind="i18n: 'Store reviews:'"></h3>
    <!-- ko if: reviews().totalRecords -->
    <each args="data: reviews().items, as: 'item'">
        <div class="review-content" data-bind="attr: { 'data-id': item.review_id, 'data-source-id': item.source_id }">
            <img data-bind="attr: { src: $parent.getLogoImage(item), alt: item.source + ' logo' }" />
            <div class="product-reviews-summary short">
                <!-- ko if: item.rating_votes.items.length -->
                <!-- span data-bind="text: item.rating_votes.items[0].percent"></span -->
                <div class="rating-summary">
                    <div class="rating-result">
                        <span data-bind="style: {width: item.rating_votes.items[0].percent + '%'}">
                            <span data-bind="text: item.rating_votes.items[0].value"></span>
                        </span>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <p class="content shorten" data-bind="text: item.detail"></p>
            <div class="local-bottom-panel">
                <span class="left date" data-bind="text: $parent.getFormatDate(item.created_at)"></span>
                <span class="nickname"><b data-bind="text: item.nickname"></b></span>
            </div>
        </div>
        <!-- reply on review -->
        <!-- ko if: item.r_review_id -->
        <div class="reply">
            <p class="shorten review-content reply">
                <img data-bind="attr: { src: $parent.getLogoImage(item) }" alt="Company logo" align="top" />
                <!-- img src="/media/wysiwyg/company_20x20.jpg" alt="Company logo" align="top" / -->
                <span class="reply" data-bind="i18n: 'Reply:'"></span>
                <text args="item.r_detail"></text>
            </p>
        </div>
        <!-- /ko -->
    </each>
    <!-- /ko -->
    <!-- ko ifnot: reviews().totalRecords -->
    <div data-bind="i18n: 'You do not have any review'"></div>
    <!-- /ko -->
    <button type="button" class="action action-show-popup" click="showFormPopup">
        <span data-bind="i18n: 'Write review'"></span>
    </button>
</div>

<!-- ko if: reviews().totalRecords > getCount() -->
<button type="button" class="action action-show-popup" data-bind="click: showAllReviews">
    <span data-bind="i18n: 'Show more'"></span>
</button>
<!-- /ko -->

<!-- review form. template in view/frontend/web/template/form.html -->
<div id="local-review-form" data-bind="visible: isFormPopupVisible()">
    <!-- ko template: 'Emagento_Comments/form' --><!-- /ko -->
</div>
