.page-layout-custom_home {
    .column.main {
        float: right;
        min-height: 0px;
        width: 80%;
        order: 2;
    }
    .sidebar-main {
        float: left;
        width: 20%;
        order: 1;
    }
}

.local-bottom-panel {
    span.date {
        font-size: 10px;
    }
    .nickname {
        float: right;
    }
}

.reply {
    .review-content {
        padding-left: 2em;
    }
}
