<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- не получилось плагином придется reference :(
    <type name="Magento\Review\Block\Adminhtml\Rating\Edit\Tab\Form">
        <plugin name="add_entity_type_rating_form" type="Local\Comments\Plugin\Block\Adminhtml\Rating\Edit\Tab\Form" sortOrder="1"/>
    </type>
    -->
</config>
