<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Emagento_Comments::comments_list"
             module="Emagento_Comments"
             parent="Magento_Backend::marketing_user_content"
             resource="Emagento_Comments::store_reviews"
             translate="title"
             title="Store Reviews"
             sortOrder="30"
             action="local_comments/grid"
        />
    </menu>
</config>
