<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="local_comments" translate="label" sortOrder="100">
            <label>Local Comments</label>
        </tab>
        <section id="local_comments" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Comments</label>
            <tab>local_comments</tab>
            <resource>Magento_Catalog::config_devtool</resource>
            <group id="settings" translate="label" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Comments settings</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!-- local_comments/settings/rating_id -->
                <field id="rating_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rating review on Form</label>
                    <source_model>Emagento\Comments\Model\Config\Rating</source_model>
                </field>
            </group>
            <group id="flamp" translate="label" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Flamp settings</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="flamp_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Flamp ID</label>
                </field>
            </group>
            <group id="yandex" translate="label" sortOrder="92" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Yandex settings</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="shop_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Yandex Shop ID</label>
                </field>
                <field id="auth_key" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Yandex Auth Key</label>
                </field>
            </group>
        </section>
    </system>
</config>
